*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container  {
    display: block;
    position: relative;
    height: 300px;
    width: 200p;
    border: 3px solid black;
    background-color: bisque;
    
    margin-top: 50px;
    text-align:center;
    font-size: 22px;
    text-transform: uppercase;
    color: blueviolet;
}

.countDown  {
    font-size: 25px;
}
