*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main   {
position: absolute;
width: 500px;
height: 500px;
border: 1px solid blue;
padding: 20px;
}

#d1 {
float: left;
width: 200px;
height: 200px;
border: 1px solid yellow;
}

#d2 {
    width: 200px;
    height: 200px;
    border: 1px solid grey;
}