* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {

    font-family: serif;
    font-size: 1.2rem;
    min-height: 100vh;
    background: url('crypto-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

header .brand {
    color: #422222;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: all .6s;
}


header .btn {
    font-size: 20px;
    color: #fff;
    display: none;
}

header.sticky {
    background-color: blue;
    padding: 20px 100px;
}

header .menu {
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.section-one {
    position: relative;
    background: url('crypto-background.jpg');
    opacity: .7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one h1 {
    color: rgba(255, 255, 255, .7);
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
}

.section-text {
    min-height: 100vh;
    background-color: #422222;
    color: #fff;
    padding: 20px 10px;
}


header .menu ul {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu li {
    list-style: none;
    display: flex;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    margin: 0 30px;
    padding: 0 10px;
    color: #422222;
    border-radius: 10px;
}



header .menu a:hover {
    background-color: #fff;
}


header .menu .dropdown-menu {
    display: none;
    position: absolute;
    /* top: 0; */
    border-radius: 10px;
    border: 1px solid #222;
    margin: 2rem 1rem;
    height: 180px;
    width: 150px;
    background-color: #fff;

    transition: all 1s;
}

header .menu .dropdown-menu li {
    padding: 10px 10px;

}

header .menu .dropdown-menu li:hover {

    background-color: #422222;
    color: #fff;

}

header .menu .dropdown-menu li a {
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    margin: 0 30px;
    padding: 0 10px;
    color: #422222;
}

header .menu .dropdown-menu li a:hover {
    background: none;
    color: #fff;
}

header .menu .dropdown-menu.display {
    display: block;
}

@media screen and (max-width:991px) {

    header .btn {
        display: block;
    }

    header .menu {
        position: fixed;
        background-color: blue;
        min-width: 400px;
        height: 100vh;
        right: -100%;
        top: 0;
        padding: 80px 50px;
        transition: .6s;
        transform-origin: right;
    }

    header .menu ul {

        flex-direction: column;
    }

    header .menu.active {
        right: 0;


    }

    header .menu .close-btn {

        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }

    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }

    header .menu .dropdown-menu {
        top: 250px;
        margin: 0 1rem;

    }
}